*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    padding: 20px;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin: 0 auto;
    max-height: 1280px;
}
.logo{
    color:#6879e3;
    font-weight: bold;
    font-size: 16px;
}


a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
   
}
.button {
    width: 12%;
    height: 36px;
    border-radius: 8px;
    border: 0;
    background-color: #0D6EFD;
    color: #fff;
    text-align: center;
}

@media screen and (max-width:768px) {
.icon{
    display: block;
}

a,.button{
    display: none;
}
}